<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/detail.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title> <%= title %>  </title>
    </head>
<body>
    <%- include('./partials/header') %> 
    <main class="detail">

        <!-- CARROUSEL -->
        <div class="recipeCarrousel">
            <!-- Esto debería ir dinámico, pero como no sé hacer los controllers lo hago estático --> 
            
            <%  let x = 3 - recipe.images.length%>
            <%  for( let i = 0; i < 3 ; i++ ) { %>
                <img src="/img/recipes_imgs/<%= recipe.images[i] ?recipe.images[i].name:recipe.images[0].name %>" alt="">
            <% } %>
            
            
            
            <h1 class="recipeTitle"><%= recipe.name %> </h1>
        </div>

 <div class="content">   
<section class="ingredientsContainer">
<h3 class="midTitle">Ingredientes: </h3>
<ul class="recipeIngredients">
    <li><p><%= recipe.ingredients %></p></li>
    
</ul>
</section>

<section class="preparationContainer">
    <h3 class="midTitle">Preparación:</h3>
<p class="preparation"> <%= recipe.description %></p>
</section>    
</div>   
</main>


</body>

</html>