<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="detail">

        <!-- CARROUSEL -->
        <div class="recipeCarrousel">
            <!-- Esto debería ir dinámico, pero como no sé hacer los controllers lo hago estático -->
            <a href=""></a><img src="/img/fideitos1.jpg" alt="">
            <img src="/img/fideitos2.jpg" alt="">
            <img src="/img/fideitos3.jpg" alt="">
            <img src="/img/fideitos4.jpg" alt="">
            <img src="/img/fideitos5.jpg" alt="">

            <h1 class="recipeTitle"><%= recipe.name %> </h1>
        </div>

 <div class="content">   
<section class="ingredientsContainer">
<h3 class="midTitle">Ingredientes: </h3>
<ul class="recipeIngredients">
    <li><p><%= recipe.ingredients %></p></li>
    
</ul>
</section>

<section class="preparationContainer">
    <h3 class="midTitle">Preparación:</h3>
<p class="preparation"> <%= recipe.description %></p>
</section>    
</div>   
</main>


</body>

</html>