<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
       
        <%- include('./partials/header') %> 
    <main class="index">
        
            <div class="agregarP">
                <h2 class="question">¿Deseas agregar una receta?</h2>
                <% if (session.user) { %>
                    <a href="/addRecipe">click Aqui</a>
                <% }else{ %>
                <a href="/users/login">click Aqui</a>
                <% } %>
            </div>
        
       
        <!-- CAROUSEL -->
        <div class="carousel">
            <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_nXwOJj.json"  background="transparent"  speed="1"  style="margin-top: -10px; width: 500px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
        <div class="otrasRecetas">
            <h2>TODAS LAS RECETAS</h2>
        </div>
        <hr width="20px">
        
        <section class="recipe-cards">
            <% recipes.forEach(recipe => { %>
                <article class="recipe">
                    <% if (recipe.images.length == 0) { %>
                        <a href="/detail/<%- recipe.id %> "><img src="/img/default-image.png" alt=""></a>
                    <% }else{ %>
                        <a href="/detail/<%- recipe.id %> "><img src="/img/<%- recipe.images[0].name  %> " alt=""></a>
                    <% } %>
                  
                    
                    <h4><%- recipe.name %></h4>
                   <div class="controls">
                       <% if (session.user && session.user.id == recipe.user_id) { %>
                        <a href="/editRecipe/<%- recipe.id %>"><img src="/img/edit.png" width="30px" alt=""></a>

                        <form action="/delete/<%- recipe.id %>?_method=DELETE" method="POST">
                            <button type="submit"><img src="/img/delete.png" width="30px"alt=""></button>             
                        </form>
                       <% } %>
                    </div>
                </article>
            <% }) %>
        </section>

    </main>
    <footer>
        <ul><li>Tobias Racedo</li>
        <li>Jonathan Ruiz</li>
        <li>Aimé Pelozo</li>
        <li>Kevin Almada</li>
        <li>Macarena Perez</li>
        <li>Gonzalo Alcocer</li></ul>
    </footer>
</body>

</html>