<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
        <%- include('./partials/header') %> 
    <main class="index">
        
            <div class="agregarP">
                <h2>¿Deseas agregar una receta?</h2><a href="/addRecipe">click aqui</a>
                <a href="#">inicia sesion</a>
            </div>
        
       
        <!-- CAROUSEL -->
        <div class="carousel">
            <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_nXwOJj.json"  background="transparent"  speed="1"  style="width: 500px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
        <div class="otrasRecetas">
            <h2>TODAS LAS RECETAS</h2>
        </div>
        <hr width="20px">
        
        <section class="recipe-cards">
            <% recipes.forEach(recipe => { %>
                <article class="recipe">
                     <img src="/img/<%- recipe.images[0].name  %> " alt="">
                  
                    
                    <h4><%- recipe.name %></h4>
                    <% if (session.user && session.user.id == recipes.user_id){ %>
                        <a href="/editRecipe/<%- recipe.id %>">EDITAR</a>
                        <a href="/delete/<%- recipe.id %>">Agregar</a>
                    <% } %>
                </article>
            <% }) %>
        </section>
    </main>
    
</body>
</html>